version: "3.8"
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  order-service:
    build: ./services/order-service
    ports:
      - "3001:3001"
    environment:
      KAFKA_BROKER: kafka:9092
      MONGO_URI: mongodb://mongo:27017/orders
    depends_on:
      - kafka
      - mongo

  inventory-service:
    build: ./services/inventory-service
    environment:
      KAFKA_BROKER: kafka:9092
      MONGO_URI: mongodb://mongo:27017/orders
    depends_on:
      - kafka
      - mongo

  payment-service:
    build: ./services/payment-service
    environment:
      KAFKA_BROKER: kafka:9092
      MONGO_URI: mongodb://mongo:27017/orders
    depends_on:
      - kafka
      - mongo

  shipping-service:
    build: ./services/shipping-service
    environment:
      KAFKA_BROKER: kafka:9092
      MONGO_URI: mongodb://mongo:27017/orders
    depends_on:
      - kafka
      - mongo

  dashboard:
    build: ./dashboard
    ports:
      - "3000:3000"
    depends_on:
      - order-service
      - mongo
